* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  /* border: 1px solid black; */
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  width: 85%;
}
textarea {
  height: 15rem;
  width: 27rem;
  margin: 0.5rem;
  background: rgb(255, 255, 107);
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 20px;
  resize: none;
}
::-webkit-scrollbar {
  display: none;
}
.notes {
  display: flex;
  flex-wrap: wrap;
  
  position: relative;
}
.notes-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  justify-content: center;
}
.button button {
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: rgb(255, 94, 94);
  font-size: 17px;
  color: white;
}
.dlt {
  padding: 0.4rem 0.7rem;
  border: none;
  background: rgb(255, 94, 94);
  position: absolute;
  border-radius: 5px;
  color: white;
 right: 0rem;
  cursor: pointer;
}
